<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-brand jmarksLogo" title="by John">jMarks</div>
        <div class="pull-right logOut">
            <a href="/logout" style="color:black;"><div class="glyphicon glyphicon-log-out" title="Log Out of jMarks"></div></a>
        </div>
    </div>
</nav>