<!DOCTYPE html>
<!--
jMarks has been brought to you by thearchitect@nousacademy.com
-->
<html lang="en">

<head>

    <title>jMarks</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jmarks.css">

</head>

<body>
    <% include ../partials/header %>

    <div class="container contentArea"><!-- Container -->
        
        <div class="col-md-4"><!-- Folder Area-->

            <div class="post">
                <span class="glyphicon glyphicon-plus-sign" onclick='topLvlFolder()'></span>
                <input type="text" class="input-sm" placeholder="Add Book" id='topLevel'>
            </div>

            <br>
            <br>
            <ul class="list-group"></ul>

        </div>
        <div class="col-md-8"><!--Folder Content Area -->

            <button class="btn jMarkBtn"><span class="glyphicon glyphicon-duplicate"></span> Add Bookmark</button>

            <div class="add"></div>

            <div class="static"></div>

        </div>
    </div>

    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/canvas.js"></script>
    <script src="js/jmarks.js"></script>
</body>

</html>